@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.hidden {
  display: none;
}

/*questo center è usato per rendere un elemento centrato e va inserito nell'elemento*/
.center {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

/*questo stile conviene usarlo per gli elementi da far diventare in colonna per i device con lo schermo piccolo*/
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/*viene usato per fare in modo che il flex centri gli elementi, va usato assieme alla classe container*/
.flex-center {
  justify-content: center;
  align-items: center;
}

.margin {
  margin-top: 1.5em;
  margin-right: 0.8em;
}

.coltitle {
  color: var(--colsec);
}

.coltext {
  color: var(--colter);
}

.border {
  border: solid 0.15em var(--colsec);
  padding: 0.2em;
}

.inumber {
  margin: 0.8em 0.3em 0.8em 0.3em;
  background-color: transparent;
  color: var(--colter);
  border: solid 0.15em var(--colsec);
  border-radius: 0.5em;
}

:root {
  --colmain: #eec085;
  --colsec: #0f1b3d;
  --colter: #0067a5;
  --colquat: #d08951;
  --colback: #390457;
  --link: #517d3f;
}

* {
  font-family: "Quicksand", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--colmain);
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 0.5em;
}

.dodotitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--colsec);
}
.dodotitle img {
  width: 2.6rem;
}

.link {
  text-decoration: none;
  border-bottom: var(--link) solid 0.1em;
  color: var(--link);
}

.link:hover {
  text-decoration: none;
  color: var(--colquat);
}

footer {
  width: 100%;
  text-wrap: balance;
  background: var(--colsec);
  color: var(--colquat);
  text-align: center;
}

button {
  text-decoration: none;
  border: 2px solid var(--colsec);
  color: var(--colter);
  background-color: var(--colquat);
  padding: 0.5em;
  font-size: 1em;
}
button:hover {
  border-color: var(--colter);
}

/*BUTTON LED*/
.button-led {
  position: relative;
  margin-bottom: 1em;
  width: 18em;
  background: var(--colquat);
  color: var(--colsec);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}
.button-led:hover {
  letter-spacing: 0.2rem;
  scale: 1.05;
  color: var(--colter);
  animation: box 3s infinite;
}
.button-led:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}
.button-led:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 2.8s infinite;
}
.button-led i::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 6px;
  left: 80%;
  top: -4px;
  border: 2px solid var(--colsec);
  background: var(--colquat);
  transition: 0.2s;
}
.button-led i::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 6px;
  left: 20%;
  bottom: -4px;
  border: 2px solid var(--colsec);
  background: var(--colquat);
  transition: 0.2s;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes box {
  0% {
    box-shadow: var(--colquat);
  }
  50% {
    box-shadow: var(--colsec);
  }
  100% {
    box-shadow: var(--colquat);
  }
}
/*BUTTON LED BACK*/
.button-led-back {
  position: relative;
  width: 18em;
  background: var(--colback);
  color: var(--colback);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.button-led-back:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--colter);
  color: var(--colter);
  animation: box 3s infinite;
}

.button-led-back::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--colquat);
}

.button-led-back span {
  position: relative;
  z-index: 1;
}

.button-led-back i {
  position: absolute;
  inset: 0;
  display: block;
}

.button-led-back i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--colback);
  background: var(--colquat);
  transition: 0.2s;
}

.button-led-back:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.button-led-back i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--colback);
  background: var(--colquat);
  transition: 0.2s;
}

.button-led-back:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes box {
  0% {
    box-shadow: var(--colquat);
  }
  50% {
    box-shadow: var(--colsec);
  }
  100% {
    box-shadow: var(--colquat);
  }
}/*# sourceMappingURL=style.css.map */